@charset "UTF-8";
body{
			color:black;
			background-image: url("https://img.freepik.com/free-photo/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop_1258-55967.jpg?size=626&ext=jpg&ga=GA1.1.986632572.1678383645&semt=aishttps://img.freepik.com/premium-photo/blank-green-paper-texture-background_7190-886.jpg?size=626&ext=jpg&ga=GA1.1.986632572.1678383645&semt=ais");
			background-size:cover;
			background-repeat:no-repeat;
			
	}
